<main>
      <!-- Page Title Area Start  -->
      <section class="page-title-area breadcrumb-spacing" data-background="assets/img/breadcrumb/breadcrumb-img.jpg">
        <div class="container">
           <div class="row">
              <div class="col-xxl-9">
                 <div class="page-title-wrapper">
                    <h3 class="page-title mb-25">About Us</h3>
                    <div class="breadcrumb-menu">
                       <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                          <ul class="trail-items">
                             <li class="trail-item trail-begin"><a href="index-2.html"><span>Home</span></a></li>
                             <li class="trail-item trail-end"><span>About Us</span></li>
                          </ul>
                       </nav>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
      <!-- Page Title Area End  -->

      <!-- About Us Area Start Here  -->
      <section class="bd-about bd-about1 wow fadeInUp" data-wow-delay=".3s">
         <div class="container">
            <div class="bd-about1__box">
               <div class="row align-items-center">
                  <div class="col-xl-6 col-lg-6">
                     <div class="bd-about1__wrapper mb-60">
                        <div class="bd-about1__img1 w-img">
                           <img src="assets/img/about/about-1.png" alt="about">
                        </div>
                        <div class="bd-about1__experience">
                           <div class="bd-about1__experience-icon mb-15">
                              <i class="flaticon-heat-press"></i>
                           </div>
                           <h2 class="bd-about1__count-title"><span class="counter">20</span><sup class="bd-about1__plus">+</sup></h2>
                           <span class="bd-about1__text">Years Experience</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6">
                     <div class="bd-about1__content-wrapper mb-60">
                        <div class="bd-section__title mb-40">
                           <span class="bd__subtitle">About Us</span>
                        <p class="bd-about1__para mb-45">ASFAT is a versatile and dynamic business entity, dedicated to excellence in providing
                             a wide range of services to our valued clients. Based in Tegeta, we have become a trusted partner for businesses, 
                             schools, and individuals seeking top-quality solutions in printing and stationery, school materials, uniforms, 
                             bakery, catering services, cleaning services, financial management consultancy, gardening, and landscaping.</p>
                     </div>
                      <div class="bd-section__title mb-40">
                           <span class="bd__subtitle">Mission & Vission</span>
                           <div class="bd-about2__list">
                        <ul>
                           <li><i class="fal fa-check"></i> <strong>Mission:</strong> Deliver outstanding products and services through a commitment to quality, 
                           creativity, and customer satisfaction, while maintaining a focus on sustainable practices and community engagement.</li>
                           <li><i class="fal fa-check"></i> <strong>Vision:</strong>To be the leading provider of innovative and reliable services, 
                           meeting the diverse needs of our clients and contributing to the growth and success of our community.</li>
                        </ul>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- About Us Area End Here  -->

       <!-- About Us Area Start Here  -->
      <section class="bd-about bd-about2 pt-95 pb-60">
         <div class="container">
            <div class="row wow fadeInUp" data-wow-delay=".3s">
               <div class="col-lg-12">
                  <div class="bd-section__title mb-60">
                     <h2 class="bd__title">Why working with us.</h2>
                  </div>
               </div>
            </div>
            <div class="row bd-about2__wrapper wow fadeInUp" data-wow-delay=".5s">
               <div class="col-xxl-5 col-xl-4 col-lg-4">
                  <div class="bd-about2__img br-img-6 w-img mb-60">
                     <p>At ASFAT, we take pride in our commitment to excellence, and we look forward to the opportunity to serve you. 
                     Join us on our journey as we continue to deliver exceptional services and contribute to the success of our community.</p>
                     <img src="assets/img/about/about-4.jpg" alt="About">
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-4 col-lg-4">
                  <div class="bd-about2__list-wrapper mb-60">
                     <span class="bd__subtitle">Why choosing us</span>
                     <div class="bd-about2__list">
                        <ul>
                           <li><i class="fal fa-check"></i> Commitment to Quality: We prioritize quality in all aspects of our business.</li>
                           <li><i class="fal fa-check"></i> Diverse Expertise: Our wide range of services means we can meet multiple needs under one roof.</li>
                           <li><i class="fal fa-check"></i> Customer-Centric Approach: We listen to our clients and tailor solutions to their unique requirements.</li>
                           <li><i class="fal fa-check"></i> Sustainability: We are dedicated to environmentally friendly practices.</li>
                           <li><i class="fal fa-check"></i> Community Engagement: ASFAT actively participates in local community initiatives.</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-4 col-lg-4">
                  <div class="bd-about2__sc mb-60">
                     <h3 class="bd-about2__sc-title">Working Hours</h3>
                     <p class="bd-about2__sc-text">Office working hours may change during public hollydays.</p>
                     <div class="bd-about2__sc-list">
                        <ul>
                           <li><span class="day">Monday</span><span class="time">8 AM - 9 PM</span></li>
                           <li><span class="day">Tuesday</span><span class="time">8 AM - 9 PM</span></li>
                           <li><span class="day">Wednesday</span><span class="time">8 AM - 9 PM</span></li>
                           <li><span class="day">Thursday</span><span class="time">8 AM - 9 PM</span></li>
                           <li><span class="day">Friday</span><span class="time">8 AM - 9 PM</span></li>
                           <li><span class="day">Saturday/Sunday</span><span class="time">Off Day</span></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- About Us Area End Here  -->

      <!-- About Us Area Start Here  -->
      <section class="bd-about bd-about1  wow fadeInUp" data-wow-delay=".3s">
        <div class="container">
            <div class="bd-about1__box">
               <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="bd-about1__content-wrapper mb-60">
                            <div class="bd-section__title mb-40">
                                <span class="bd__subtitle">Our Core Values</span>
                                <div class="bd-case-faq-wrapper mb-45">
                                    <div class="faq-wrapper bd-faq__wrapper">
                                        <div class="gm-faq gm-faq-1column">
                                            <div class="accordion" id="accordionExample">
                                                <div class="gm-faq-group">
                                                    {{#each settings.values}}
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="heading{{id}}">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}">
                                                                {{title}}
                                                            </button>
                                                        </h2>
                                                        <div id="collapse{{id}}" class="accordion-collapse {{#iff id '==' 1}} show {{/iff}}" aria-labelledby="heading{{id}}" data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                {{description}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                     <div class="bd-about1__wrapper mb-60">
                        <div class="bd-about1__img1 w-img">
                           <img src="assets/img/about/about-1.png" alt="about">
                        </div>
                        <div class="bd-about1__experience">
                           <div class="bd-about1__experience-icon mb-15">
                              <i class="flaticon-heat-press"></i>
                           </div>
                           <h2 class="bd-about1__count-title"><span class="counter">10</span><sup class="bd-about1__plus">+</sup></h2>
                           <span class="bd-about1__text">Years Experience</span>
                        </div>
                     </div>
                    </div>
                </div>
            </div> 
        </div>
      </section>
      <!-- About Us Area End Here  -->

      <!-- Team Area Start Here  -->
      {{!-- <section class="bd-team pt-120 pb-80">
         <div class="container">
             <div class="row justify-content-center wow fadeInUp" data-wow-delay=".3s">
                 <div class="col-lg-8">
                     <div class="bd-section__title mb-45 text-center">
                     <span class="bd__subtitle">Join Our Teams</span>
                     <h2 class="bd__title">Team Member</h2>
                     </div>
                 </div>
             </div>
             <div class="row wow fadeInUp" data-wow-delay=".5s">
                {{#each team}}
                 <div class="col-xl-3 col-lg-4 col-sm-6">
                     <div class="bd-team__item border-radius-6 mb-40">
                         <div class="bd-team__thum w-img">
                             <a href="#"><img src="{{image}}" alt="team img"></a>
                         </div>
                         <div class="bd-team__content white-bg-2">
                             <h3 class="bd-team__name"><a href="#">{{name}}</a></h3>
                             <span class="bd-team__title mb-10">{{title}}</span>
                             <div class="bd-team__social">
                                 <ul>
                                     <li><a href="{{facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                     <li><a href="{{twitter}}"><i class="fab fa-twitter"></i></a></li>
                                     <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                     <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                     <li><a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
                 {{/each}}
             </div>
         </div>
      </section> --}}
      <!-- Team Area End Here  -->

      
   </main>